{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 pt-5">
  <div class="row mt-5">
      <div class="col-12">

<h2 class="bowood-title-text">CONTACT PAGE</h2>

    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" placeholder="Your full Name" aria-label="name" id="name">
              </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <label for="subjectDataList" class="form-label">Subject</label>
            <input name="subject" class="form-control" list="datalistOptions" id="subjectDataList" placeholder="Type to search...">
            <datalist id="datalistOptions">
                <option value="Booking Query">
                <option value="Shopping query">
                <option value="Misc">
            </datalist>
            <div class="mb-3">
                <label for="contactTextarea1" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="contactTextarea1" rows="3"></textarea>
            </div>
            <input class="btn btn-outline-light" type="submit" value="Submit">
          </form>
      </div>
  </div>
</div>

{% endblock %}