{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 pt-5">
  <div class="row mt-5">
      <div class="col-12">
        <h2>GALLERY PAGE</h2>
      </div>
  </div>
  <div class="row">
    {% for photo in photos %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="{{ photo.image_url }}" class="img-fluid p-1" alt="{{ photo.label }}">
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}