{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 home-page">

      <div class="text-center homepage-caption">
        <h1>Welcome to BoWood Audio</h1>
        <p class="fs-3 my-5">BoWood Audio is a recording and editing studio based in Dublin. 
        </p>
        <p> <a class="btn btn-outline-light" href="{% url 'whatwedo' %}" role="button">READ MORE</a></p>
      </div>

    </div>
  </div>

<!-- this script makes the navbar backgroundColor transparent on small screens -->
<script>

if($(window).width() <= 1024){
document.getElementById("navbar").style.backgroundColor = "transparent";

document.getElementById("navbar-toggler-icon").addEventListener("click", () => {
      document.getElementById("navbar").style.backgroundColor = "#323232";
    });
}
</script>

</div>

{% endblock %}