{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-xl mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-3">
            <h2 class="bowood-title-text mb-3">WHAT WE DO:</h2>

            <img src="https://bowood.s3.eu-west-1.amazonaws.com/media/lego.jpeg" class="img-fluid float-md-end m-2" alt="Paul Lego O Hara from BoWood Audio" />

            <ul>
                <li>Scoring for radio or tv commercial </li>
                <li>Voice over for commercial tv or radio </li>
                <li>Audio correction or enhancement </li>
                <li>Format Audio Conversion eg Wave, MP3, AIFF etc </li>
            </ul>
            <p class="mt-3">
                <span class="fw-bold bowood-title-text">Original Music Composition:</span> We provide you with an original professional piece of music for your commercial or business advertisement that suits you the client in any file format you choose. When you're happy with the finished
                project you will receive a mastered version of your product.
            </p>

            <p class="mt-3">
                <span class="fw-bold bowood-title-text">Jingles for commercial use:</span> Create that lasting
                impression on your clients with original jingle creation. </p><p>
                We supply: </p>
            <ul>
                <li> Lyric Writing </li>
                <li> Music Composition </li>
                <li> Music editing and mixing </li>
                <li> Audio editing and mastering </li>
                <li> Program Production </li>
                <li> Voice Management (with or without effects) </li>
                <li> Music Management </li>
            </ul>
           
            <p class="mt-3"><span class="fw-bold bowood-title-text">Corporate Audio Services:</span></p>
<ul>
    <li> Clean up audio from Meetings or conferences </li>
    <li> Remove Background noise from poorly recorded Audio. </li>
    <li> Clean up unwanted transients in your audio recordings and remove unwanted </li>
    <li> Noise reduction </li>
</ul>


<p><span class="fw-bold bowood-title-text">Video editing:</span> Make your video more professional with us.</p><p>We provide:</p>
<ul>
    <li>Format video conversions </li>
    <li>Transition creations </li>
    <li>Effect adding and editing </li>
    <li>Title Editing </li>
    <li>Colour Correction </li>
</ul>    
<p><span class="fw-bold bowood-title-text">Mixing:</span></p>
<ul>
    <li> Add background effects or music with effects </li>
    <li> Speed up or Slow down audio to fit your needs </li>
    <li> Looping Audio (Loop the same piece of audio to make it longer or shorter to suit a video timeframe). </li>
</ul>

            <p><span class="fw-bold bowood-title-text">Basic editing:</span> Noise removal Mistakes removal and replacement Track shortening or lengthening Fade in and outs Transient noise removal.</p>
        </div>
    </div>
</div>


{% endblock %}