{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-xl mt-5 pt-5">
    <div class="row mt-5">
        <div class="col-12 col-md-8">
            <h2 class="bowood-title-text">WHAT WE DO</h2>

            <img src="https://bowood.s3.eu-west-1.amazonaws.com/media/lego.jpeg" class="img-fluid float-end m-2" alt="Paul Lego O Hara from BoWood Audio" />

            <p>We are experienced in Scoring for radio or tv commercial Voice over for commercial tv or radio Audio correction or enhancement Format Audio Conversion eg Wave, MP3, Aiff etc</p>

            <p>
                <span class="fw-bold bowood-title-text">Original Music Composition:</span> We provide you with an original professional piece of music for your commercial or business advertisement that suits you the client in any file format you choose. When you're happy with the finished
                project you will receive a Mastered Version of your product.
            </p>

            <iframe
                class="float-start m-2"
                width="280"
                height="157"
                src="https://www.youtube.com/embed/GQt46JYdEGw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
            <p>
                <span class="fw-bold bowood-title-text">Jingles for commercial use:</span> Create that lasting impression on your clients with original jingle creation We can supply LyricWriting, Music Composition, music editing and Mixing, Audio editing and Mastering, Program
                Production, Voice Management with or without effects Music Management.
            </p>

            <p><span class="fw-bold bowood-title-text">Corporate Audio Services:</span> Clean up audio from Meetings or conferences Remove Background noise from poorly recorded Audio. Clean up unwanted transients in your audio recordings and remove unwanted noise and reduction</p>

            <p><span class="fw-bold bowood-title-text">Video editing:</span> Make your video more professional with us we provide: Format video conversions Transition creations Effect adding and editing Title EditinColor Correction</p>

            <p><span class="fw-bold bowood-title-text">Mixing:</span> Add background effects or music with effects. Speed up or Slow down audio to fit your needs. Looping Audio Loop the same piece of audio to make it longer or shorter to suit a video timeframe.</p>
            <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/230185703&color=%234c4c54&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe>
            <div
                style="
                    font-size: 10px;
                    color: #cccccc;
                    line-break: anywhere;
                    word-break: normal;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
                    font-weight: 100;
                "
            >
                <a href="https://soundcloud.com/bowoodaudio" title="PaulOHara" target="_blank" style="color: #cccccc; text-decoration: none;">PaulOHara</a> ·
                <a href="https://soundcloud.com/bowoodaudio/film-noir-paul-o-hara" title="Film Noir - Paul O Hara" target="_blank" style="color: #cccccc; text-decoration: none;">Film Noir - Paul O Hara</a>
            </div>
            <p><span class="fw-bold bowood-title-text">Basic editing:</span> Noise removal Mistakes removal and replacement Track shortening or lengthening Fade in and outs Transient noise removal.</p>
        </div>
    </div>
</div>


{% endblock %}