html{
  height: 100%;
}

body {
  color: white;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

.theme-bowood{
  background-color: black;
  color: white;
}

.navbar {
    background-color: black;
    color: white ;
}

.dropdown-menu{
  background-color: black;
}

.dropdown-item{
  color: rgba(255,255,255,.55);
}

// this is a white icon with 50% opacity
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

.carousel img {
  max-height: 768px;
  min-width: auto;
}

.card {
  background-color: black;
}

.maximum-width{
  max-width: 33rem;
} /* this keeps sections narrow for smaller screens */