{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 home-page">

      <div class="text-center homepage-caption">
        <h1>Whoops , Something went wrong!</h1>
        <p>It looks like you are missing a permission on your access (Error 403 - HTTP Forbidden). </p>
        
        <p class="fs-3 my-5">BoWood Audio is a recording and editing studio based in Dublin. 
        </p>
        <p> <a class="btn btn-outline-light" href="{% url 'whatwedo' %}" role="button">READ MORE</a></p>
      </div>

    </div>
  </div>

</div>

{% endblock %}