<div class="container">
<h2>Revews</h2>


<div class="row">
{% if reviews %}
    {% for review in reviews %}
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title bowood-title-text text-capitalize">  {{ review.review_title }}</h5>

            <p class="card-text">   {{ review.review_title }}  </p>
            <p class="bowood-text-muted text-capitalize"><span>(<i class="far fa-star"></i> {{review.rating}} )</span> reviewer: {{ review.userid }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    {% endfor %}

{% else %}
<div class="col-sm-6">
<p> No reviews yet! </p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Submit a review
  </button>
</div>
{% endif %}
</div>




  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Review for {{ product.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>